.contact {
    color: #ffffff;
    max-width: 800px;
    margin: auto;
    padding: 64px 16px;
}

.container-contact {
    display: flex;
    justify-content: center;
    margin: 10px 30px;
}

.section-contact h2 {
    margin-top: 0;
}

.section-contact {
    max-width: 800px;
    margin: auto;
    padding: 64px 16px;
}

/* Styles pour la section Contact Info */
.info-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 400px;
    margin: 1em auto;
}

.icon-text {
    display: flex;
    /* Aligner verticalement les éléments */
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Espace entre l'icône et le texte */
}

.icon-text img {
    max-width: 25px;
    object-fit: contain;
}

.icon-text p {
    margin: 0;
    text-align: center;
}