.contact-bg {
    background-color: #ffffff;
    color: #000000;
}

.contact {
    color: #000000;
    max-width: 800px;
    margin: auto;
    padding: 64px 16px;
}

.contact-container {
    display: flex;
    margin: 10px 30px;
}

.contact-container>* {
    flex: 1;
}

/* Styles pour la section contact info */

.contact-info {
    align-items: center;
}

.contact-info img {
    max-width: 25px;
    object-fit: contain;
    margin-right: 10px;
}

.contact-info p {
    font-weight: bold;
    margin: auto 0;
}

.icon-text {
    display: flex;
    margin: 20px;
}