.formations-bg {
    background-color: #000000;
    color: #ffffff;
}

.formations-container {
    display: flex;
    margin: 10px 30px;
    font-weight: bold;
}

.formations-container>* {
    flex: 1;
    margin: 10px 30px;
}

.formations-container ul {
    list-style: circle;
    line-height: 150%;
}

.formations-section h2 {
    margin-top: 0;
}

.formations-section {
    max-width: 800px;
    margin: auto;
    padding: 64px 16px;
}