.hero-bg {
    background-color: #ffffff;
}

.hero-content {
    display: flex;
    padding: 15px 25px;
}

.hero-content>* {
    flex: 1;
}

.hero-section {
    max-width: 1800px;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 70%;
    max-width: 500px;
    object-fit: contain;
}

.intro {
    text-align: center;
    color: #000000;
    margin: auto 0;
}