.hero-section {
    max-width: 1800px;
    margin: auto;
}

.hero-content {
    display: flex;
    padding: 15px 15px;
}

.hero-content>* {
    flex: 1;
}

.logo {
    display: flex;
}

.logo img {
    margin: auto;
    width: 100%;
    max-width: 700px;
}

.intro {
    margin: auto 0;
}

.intro p {
    text-align: center;
}

/* Animation pour le logo */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.96); /* Le logo grossit légèrement */
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  /* Appliquer l'animation au chargement */
  /* 1. Animation d'apparition */
  /* 2. Animation de battement de coeur qui commence après 1.2s et se répète à l'infini */
  animation: fadeIn 1.2s ease-in-out forwards,
             heartbeat 2s ease-in-out 1.2s infinite;
}
