.legal-bg {
    background-color: #ffffff;
    color: #000000;
}

.legal-container {
    background-color: #ffffff;
    color: #000000;
}

.legal-container h1 {
    font-size: 2em;
}

.legal-container a {
    color: blue;
}

.legal-container p {
    text-align: justify;
    hyphens: auto;
}