.container-valeurs{
display: flex;
}
.container-valeurs>*{
    flex:1;
}
.valeur{
    margin: 10px 30px;
}

.icone-valeur {
    display: flex;
    justify-content: center;
}

.icone-valeur img {
    max-width: 100px;
}