@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@font-face {
    font-family: Ethnocentric;
    src: url("./assets/fonts/FontsFree-Net-ethnocentric-rg.ttf");
    font-display: swap;
}

@font-face {
    font-family: Proxima-Bold;
    src: url("./assets/fonts/FontsFree-Net-Proxima-Nova-Soft-W03-Semibold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Proxima;
    src: url("./assets/fonts/FontsFree-Net-Proxima-Nova-Soft-W03-Regular.ttf");
    font-display: swap;
}

body {
    font-family: 'Proxima';
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 50px;
    /* height of sticky header */
    scroll-behavior: smooth;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: Proxima-Bold;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'Ethnocentric';
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

h2 {
    margin-bottom: 16px;
}

p {
    line-height: 120%;
    margin: 1em auto;
    text-align: justify;
    hyphens: auto;
}

i {
    font-style: italic;
}

.section-bg-white {
    background-color: #ffffff;
    color: #000000;
}

.section-bg-black {
    background-color: #000000;
    color: #ffffff;
}

.container {
    display: flex;
    margin: 10px 30px;
    gap: 30px;
}

.section {
    max-width: 800px;
    margin: auto;
    padding: 64px 16px;
}

.bold {
    font-family: Proxima-Bold;
}

@media only screen and (max-width: 768px) {

    .container,
    .container-valeurs,
    .container-contact,
    .hero-content {
        flex-direction: column;
    }

    .container-contact{
        gap:18px;
    }

    h1 {
        font-size: 130%;
    }

    body {
        font-size: 95%;
    };

}